@font-face {
  font-family: SuisseIntl-SemiBold;
  src: url(assets/SuisseIntl-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: SuisseIntl-Light;
  src: url(assets/SuisseIntl-Light.otf);
  font-weight: 200;
}

::selection {
  background-color: rgba(0,79,159,0.90);
  -webkit-text-fill-color: white;
}

::-moz-selection {
  background-color: rgba(0,79,159,0.90);
  -webkit-text-fill-color: white;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  line-height: 0;
}

a:hover{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #004f9f;
}

button{
  text-decoration: none;
}

.cont_text{
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

html, body, .main{
  height: 100%;
}

html{
  scroll-behavior: smooth;
}

pre{
  font-family: inherit;
  white-space: pre-wrap;
}

.main {
  width: 100vw;
  min-height: calc(100vh - 7vw - 70px - 12vw)
}

.wrap{
  min-height: 100%;
  margin-bottom: -70px;
}

.font {
  font-family: 'SuisseIntl-SemiBold';
  color: #004f9f;
}

.border_bottom {
  border-bottom: 3px solid #004f9f;
}

.border_top {
  border-top: 3px solid #004f9f;
}

.border_right {
  border-right: 3px solid #004f9f;
}

.text_center {
  text-align: center;
}

.active-head {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #004f9f;
}

.title {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #004f9f;
}

.footer {
  display: table;
  height: 70px;
  width: 100vw;
  font-size: 20px;
}

.push{
  height: 70px;
}

.footer div {
  display: table-cell;
  vertical-align: middle;
}

.lang {
  text-transform: uppercase;
  text-align: left;
}

.name {
  width: 100%;
  text-align: center;
}

.arrow {
  text-align: right;
  font-size: 45px;
}


.image {
  width: 100%;
}

.image img {
  width: inherit;
  padding-top: 50px;
}









.arrow{
  width: 5%;
  display: inline-block;
}

.nome{
  width: 90%;
  display: inline-block;
}



.tariffe{
  text-align: center;
  line-height: 70px;
  text-transform: uppercase;

}

.tariffe-size{
    font-size: 20px;
}



.info{
  line-height: 20px;
}

.link_prodotto{
  display: table;
  width: 100%;
}

.link_prodotto div{
  display: table-cell;
  text-align: center;
  width: 50%;
}


.head-size {
  font-size: 3.66vw;
  text-transform: uppercase;
  height: 5vw;
  padding-left: 20px;
  padding-right: 20px;
}

.title-size {
  font-size: 12vw;
  line-height: 13vw;
}

.info_text{
  font-size: 20px;
  line-height: normal;
}

.info_size_variant{
  font-size: 12px;
}




/* .cont-size {
  font-size: 20px;
} */

/* .padding_LR {
  padding-left: 20px;
  padding-right: 20px;
}

.padding_TB {
  padding-top: 60px;
} */


.prodotto{
  text-align: left;
}



.header {
  display: block;
}


.cont-size {
  font-size: 20px;
}

.filter-size{
  font-size: 20px;
}

.prodotto-size{
  font-size: 20px;
}

.padding_LR {
  padding-left: 12px;
  padding-right: 12px;
}

.padding_TB {
  padding-top: 12px;
  padding-bottom: 12px;
}

.long_title {
  display: none;
}

.short_title {
  display: block;
}

.head-size {
  font-size: 30px;
}

.head-size a {
  height: 5vw;
  line-height: 5vw;
  display: inline-block;
}

#lang{
  display: none;
}

.menu{
  display: none;
  height: 100vh;
  width: 100vw;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}


.option{
  height: 18vw;
  line-height: 18vw;
  text-transform: uppercase;
}

.menu_title{
  width: 100vw;
}

.menu_title div{
  display: inline-block;
}

.uppercase{
  text-transform: uppercase;
}

/* #dropdown{
  height: 0px;
} */

/* .shorter{
  height: 0px;
  display: none;
} */

.longer{
  height: auto;
}

/* #prova:active ~ #dropdown{
  height: 200px;
} */

.content_filter{
  display: none;
 position: absolute;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.content_filter a{
  display: block;
  width: 100vw;
}

.show{
  display: block;
}


@media screen and (min-width: 0px) and (max-width: 990px) {

  .filtri{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #004f9f;

  }

  .none{
    display: none;
    background-color: white;
    border-top: 3px solid #004f9f;
  }

  .active_filter{
    background-color: #004f9f;
    color: white;
  }

  .filtri > div > * {
    cursor: pointer;
    height: 10vw;
    /* transition: 2s; */
    line-height: 10vw;
    width: 100vw;
    padding-left: 19px;
    padding-right: 19px;
  }

  .active_filter {
    cursor: pointer;
    height: 10vw;
    /* transition: 2s; */
    line-height: 10vw;
    width: 100vw;
    padding-left: 19px;
    padding-right: 19px;
  }



  .padding_filter{
    padding-left: 0;
    padding-right: 0;
  }

  /* .filtri:hover .none{
    display: block;

  } */

  .hide{
    display: none;
  }


}

@media screen and (min-width: 0px) and (max-width: 768px){
  .border_right{
    border-width: 0px;
  }

  .padding_special{
    padding-top: 0px;
    padding-bottom: 36px;
  }

  .nomi{
    font-style: normal;
    background-color: #004f9f;
    height: auto;
    width: 100%;
    color: white;
    line-height: 50px;
  }

  .border{
    border-bottom: 3px solid #004f9f;
  }
}

@media screen and (max-width: 414px) {

  .header {
    display: none;
  }

  .text_center{
    text-align: left;
  }

  .name{
    text-align: left;
  }

  .arrow{
    font-family: SuisseIntl-Light;
  }

  .title{
    height: 18vw;
    line-height: 18vw;

  }


  .head-size{
    font-size: 12vw;
  }


  .botton{
    float: right;
    display: inline-block;
  }

  .short_title{
    display: inline-block;
  }

  .image img{
    padding-top: 12px;
  }
}

@media screen and (min-width: 414px) {

  .cont-size {
    font-size: 25px;
  }

  .prodotto-size{
    font-size: 30px;
  }

  .padding_LR {
    padding-left: 19px;
    padding-right: 19px;
  }

  .padding_TB {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .long_title {
    display: none;
  }

  .short_title {
    display: block;
  }

  .header {
    width: 100vw;
    text-align: justify;
    /* height: 7vw; */
  }

  .header:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  .head-size{
    font-size: 5vw;
    height: 6vw;
    line-height: 6vw;

  }

  /* .head-size a{
      line-height: 7vw;
  } */

  .text_center{
    text-align: center;
  }

  #lang{
    display: table-cell;
  }


  .menu{
    display: none;
  }

  .botton{
    display: none;
  }

  .filtri{
    text-align: left;
  }

  .filter-size{
    font-size: 30px;
  }


}

@media screen and (min-width: 568px)  {

  .prodotto{
    text-align: center;
  }

  .filtri{
    text-align: center;
  }

  .cont-size {
    font-size: 30px;
    width: auto;
  }



  .padding_LR {
    padding-left: 36px;
    padding-right: 36px;
  }

  .padding_TB {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .long_title {
    display: block;
  }

  .short_title {
    display: none;
  }

  .head-size{
    font-size: 4vw;
    height: 5vw;
    line-height: 5vw;
  }

  .info div{
    display: block;
    width: 100%;
  }

  .info_size_variant{
    font-size: 20px;
  }






}

@media screen and (min-width: 768px) {

  .padding_LR {
    margin-left: auto;
    margin-right: auto;
  }

  .padding_special{
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .cont_text {
    width: 755px;
    margin: 0 auto;
  }

  .long_title {
    display: none;
  }

  .short_title {
    display: block;
  }

  .head-size {
    font-size: 40px;
  }

  .info{
    text-align: justify;
    line-height: normal;

  }

  .hide{
    display: block;
  }

  .info:after {
    content: '';
    /* display: inline-block; */
    width: 100%;
  }

  .info div{
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

  .border{
    border-width: 0;
    display: none;
  }

  .border_right{
    border-width: 3px;
  }

  .nomi{
    font-style: italic;
    background-color: white;
    height: auto;
    width: 100%;
    color: #004f9f;
    line-height: normal;
  }



}

@media screen and (min-width: 840px) {
  .cont_text {
    width: 826px;
    margin: 0 auto;
  }


}

@media screen and (min-width: 990px)  {

  .filtri {
    display: table;
    width: 100%;
  }

  .none{
    display: block;
  }

  .active_filter{
    background-color: white;
    color: #004f9f;

  }

  .filtri a {
    display: table-cell;
    text-align: center;
    line-height: 70px;
  }

  .filter-size{
    font-size: 2.1vw;
  }

  .padding_filter{
    padding-left: 210px;
    padding-right: 210px;
  }



  .cont-size {
    font-size: 40px;
    line-height: 55px;
    width: auto;
  }

  .cont_text {
    width: auto;
    margin: 0 0;
  }

  .padding_LR {
    padding-left: 92px;
    padding-right: 92px;
  }

  .padding_TB {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .padding_special {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .head-size {
    /* padding-top: 7px; */
  }

  .long_title {
    display: block;
  }

  .short_title {
    display: none;
  }


}

@media screen and (min-width: 1200px) {

  .cont-size {
    font-size: 2.9vw;
  }

  .prodotto-size{
    font-size: 30px;
  }

  .padding_LR {
    padding-left: 94px;
    padding-right: 94px;
  }

  .padding_TB {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .head-size {
    font-size: 3.66vw;
    /* padding-top: 10px; */
  }


  .long_title {
    display: block;
  }

  .short_title {
    display: none;
  }

  .temp{
    width: 300px;
    height: 600px;
    background-color: black;
  }


}
