@font-face {
  font-family: SuisseIntl-SemiBold;
  src: url(assets/SuisseIntl-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: SuisseIntl-Light;
  src: url(assets/SuisseIntl-Light.otf);
  font-weight: 200;
}

::selection {
  background-color: rgba(0, 79, 159, 0.90);
  -webkit-text-fill-color: white;
}

::-moz-selection {
  background-color: rgba(0, 79, 159, 0.90);
  -webkit-text-fill-color: white;
}

.schermata {
  width: 100vw;
  height: 100vh;
  background-color: #004f9f;
}




  .m-scene .scene_element {
    animation: 6s;
    animation-fill-mode: both;
  }

  .m-scene .scene_element--goup {
    animation-name: goUp;
  }

  .m-scene .scene_element--fadein {
    animation-name: fadeIn;
  }

  .m-scene.is-exiting .schermata {
    animation-direction: alternate-reverse;
  }







@keyframes goUp {
  66% {

    transform: none;
  }

  100% {

    transform: translate(0, -100vh);
    /* transform: none; */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}

* {
  margin: 0;
  box-sizing: border-box;
  white-space: normal;

  /* border: 1px solid black; */
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  line-height: 0;
  cursor: url('assets/cursor.png'), auto;

}

.prodotto:hover a{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #004f9f;
}

a:hover {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #004f9f;
}

.hidden {
  display: none;
}

button {
  text-decoration: none;
}

.cont_text {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

html, body, .main {
  height: 100%;
  cursor: url('assets/cursor.png'), auto;
  overflow-x: hidden;
}

html, body, .page2{
  scroll-behavior: smooth;
}

table {
  vertical-align: top;
}

th {
  width: 20%;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

.main {
  width: 100vw;
  min-height: calc(100vh - 7vw - 70px - 12vw)
}

.wrap {
  min-height: 100%;
  margin-bottom: -70px;
}

.font {
  font-family: 'SuisseIntl-SemiBold';
  color: #004f9f;
}

.border_bottom {
  border-bottom: 3px solid #004f9f;
}

.border_top {
  border-top: 3px solid #004f9f;
}

.border_right {
  border-right: 3px solid #004f9f;
}

.text_center {
  text-align: center;
}

.active-head {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #004f9f;
}

.title {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #004f9f;
}

.footer {
  display: table;
  height: 70px;
  width: 100vw;
  font-size: 20px;
}

.push {
  height: 70px;
}

.footer div {
  display: table-cell;
  vertical-align: middle;
}

.lang {
  text-transform: uppercase;
  text-align: left;
}

.name {
  width: 100%;
  text-align: center;
}

.arrow {
  text-align: right;
  font-size: 30px;
  line-height: 63px;
  vertical-align: top;
}

.image {
  width: 100%;
}

.image img {
  width: inherit;
  padding-top: 50px;
}

.imagesci {
  width: inherit;
  padding-top: 50px;
  /* height: 300px;
  object-fit: cover; */
}

.lab_image{
  width: 100vw;
  position: relative;
  white-space: nowrap;
  transition: 0.4s;
}

.lab-image {
  display: inline;
  width: 100vw;
}


.page {
  height: 100%;
  overflow-x: hidden;
}

.page2 {
  position: fixed;
  display: none;
  top: 0;
  left: 110vw;
  background: white;
  transition: 0.5s;
  height: 100%;
  overflow: scroll;
}

.arrow {
  width: 5%;
  display: inline-block;
}

.nome {
  width: 90%;
  display: inline-block;
  line-height: 63px;
}

.tariffe {
  text-align: center;
  line-height: 90px;
  text-transform: uppercase;
}

.tariffe-size {
  font-size: 20px;
}

.info {
  line-height: 25px;
}

.head-size {
  font-size: 3.66vw;
  text-transform: uppercase;
  height: 5vw;
  padding-left: 20px;
  padding-right: 20px;
}

.title-size {
  font-size: 12vw;
  line-height: 13vw;
}

.info_text {
  font-size: 20px;
  line-height: normal;
  margin: 0 auto;
}

.info_text_variant {
  font-size: 20px;
  line-height: normal;
  margin: 0 auto;
}

.info_size_variant {
  font-size: 12px;
}

/* .cont-size {
  font-size: 20px;
} */
/* .padding_LR {
  padding-left: 20px;
  padding-right: 20px;
}

.padding_TB {
  padding-top: 60px;
} */
.prodotto {
  text-align: left;
}

.header {
  display: block;
}

.cont-size {
  font-size: 20px;
}

.filter-size {
  font-size: 20px;
}

.prodotto-size {
  font-size: 20px;
}

.padding_LR {
  padding-left: 12px;
  padding-right: 12px;
}

.padding_LR_n {
  margin-left: -12px;
  margin-right: -12px;
}

.padding_TB {
  padding-top: 12px;
  padding-bottom: 12px;
}

.long_title {
  display: none;
}

.short_title {
  display: block;
}

.head-size {
  font-size: 30px;
}

.head-size a {
  height: 5vw;
  line-height: 5vw;
  display: inline-block;
}

#lang {
  display: none;
}

.menu_tend{
  height: 0;
  overflow: hidden;
  transition: 0.2s;
}

.height_menu{
  height: 54vw;
}

.inverted{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #004f9f;
}

.menu {
  display: none;
  height: 100vh;
  width: 100vw;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}

.option {
  height: 18vw;
  line-height: 18vw;
  text-transform: uppercase;
}

.menu_title {
  width: 100vw;
}

.menu_title div {
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

/* #dropdown{
  height: 0px;
} */
/* .shorter{
  height: 0px;
  display: none;
} */
.longer {
  height: auto;
}

/* #prova:active ~ #dropdown{
  height: 200px;
} */
.img_rotate {
  transform: translate(0, 40%);
}

#sci_img_2 {
  transform: rotate(90deg);
}


.dolomiti_imglink > div{
  display: inline-block;
  /* width: 50%; */
  vertical-align: top;
}

@media screen and (min-width: 0px) and (max-width: 990px) {
  .filtri {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #004f9f;
  }

  .nomi_sci {
    background-color: #004f9f;
    height: auto;
    width: 100%;
    color: white;
    line-height: 50px;
  }

  .none {
    display: none;
    background-color: white;
    border-top: 3px solid #004f9f;
  }

  .active_filter {
    background-color: #004f9f;
    color: white;
  }

  .filtri>div>a {
    cursor: pointer;
    height: 10vw;
    /* transition: 2s; */
    line-height: 10vw;
    width: 100vw;
    padding-left: 19px;
    padding-right: 19px;
  }

  .none:hover {
    background-color: #004f9f;
    color: white;
  }

  .active_filter {
    cursor: pointer;
    height: 10vw;
    /* transition: 2s; */
    line-height: 10vw;
    width: 100vw;
    padding-left: 19px;
    padding-right: 19px;
  }

  .padding_filter {
    padding-left: 0;
    padding-right: 0;
  }

  /* .filtri:hover .none{
    display: block;

  } */
  .hide {
    display: none;
  }

  .content_filter {
    display: none;
    position: absolute;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .content_filter a {
    display: block;
    width: 100vw;
  }

  .show {
    display: block;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .border_right {
    border-width: 0px;
  }

  .padding_special {
    padding-top: 0px;
    padding-bottom: 36px;
  }

  .nomi {
    background-color: #004f9f;
    height: auto;
    width: 100%;
    color: white;
    line-height: 50px;
  }

  .italic {
    font-style: normal;
  }

  .border {
    border-bottom: 3px solid #004f9f;
  }

  .arrow_right {
    position: absolute;
    right: 17px;
    /* line-height: 60px; */
  }

  .text_center_name {
    text-align: left;
  }
}

@media screen and (min-width: 0px) and (max-width: 568px) {
  .info_text_variant {
    font-size: 15px;
  }

  .link_prodotto {
    display: table;
    width: 100%;
    background-color: #004f9f;
    color: white;
    z-index: 1200;
  }

  .link_prodotto div {
    display: inline-block;
    text-align: center;
    width: 49%;
    border-bottom: 0;
  }

  .exeption {
    border-right: 3px solid white;
  }

  .exeption2 {
    border-right: 0;
  }

  .sci_info {
    border-bottom: 0
  }

  .info {
    border-bottom: 0;
  }

  .arrow_right_noleggio {
    position: absolute;
    right: 17px;
    /* line-height: 60px; */
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .nome {
    width: auto;
  }

  .nomi_sci {
    text-align: center;
  }
}

@media screen and (max-width: 414px) {

  .landing_page{
    display: block;
  }


  .header {
    display: none;
  }

  .text_center {
    text-align: left;
  }

  .name {
    text-align: left;
  }

  /* .arrow{
    font-family: SuisseIntl-Light;
  } */
  .title {
    height: 18vw;
    line-height: 18vw;
  }

  .head-size {
    font-size: 12vw;
  }

  .botton {
    float: right;
    display: inline-block;
  }

  .menu_button {
    height: 8vw;
    position: absolute;
    transform: translate(0%, 50%);
    right: 5vw;
    top: 1vw;
    /* z-index: 1000; */
    transition: 0.2s;
    /* z-index: 1200; */
  }

  .menu_button_index{
    z-index: 1000;
  }

  .button_menu{

  }

  .rotate{
    transform: translate(2vw, 50%) rotate(270deg);
  }

  .menu_button_2 {
    width: 8vw;
    vertical-align: sub;
  }

  .short_title {
    display: inline-block;
  }

  .image img {
    padding-top: 12px;
  }
}

@media screen and (min-width: 414px) {

  .landing_page{
    display: none;
  }

  .cont-size {
    font-size: 25px;
  }

  .prodotto-size {
    font-size: 30px;
  }

  .padding_LR {
    padding-left: 19px;
    padding-right: 19px;
  }

  .padding_LR_n {
    margin-left: -19px;
    margin-right: -19px;
  }

  .padding_TB {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .long_title {
    display: none;
  }

  .short_title {
    display: block;
  }

  .header {
    width: 100vw;
    text-align: justify;
    /* height: 7vw; */
  }

  .header:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  .head-size {
    font-size: 5vw;
    height: 6vw;
    line-height: 6vw;
  }

  /* .head-size a{
      line-height: 7vw;
  } */
  .text_center {
    text-align: center;
  }

  #lang {
    display: table-cell;
  }

  .menu {
    display: none;
    /* z-index: 12; */
  }

  #nav-placeholder {
    display: block;
  }

  .botton {
    display: none;
  }

  .filtri {
    text-align: left;
  }

  .filter-size {
    font-size: 30px;
  }
}

@media screen and (min-width: 568px) {
  .prodotto {
    text-align: center;
  }

  .filtri {
    text-align: center;
  }

  .cont-size {
    font-size: 30px;
    width: auto;
  }

  .padding_LR {
    padding-left: 36px;
    padding-right: 36px;
  }

  .padding_LR_n {
    margin-left: -36px;
    margin-right: -36px;
  }

  .padding_TB {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .long_title {
    display: block;
  }

  .short_title {
    display: none;
  }

  .head-size {
    font-size: 4vw;
    height: 5.4vw;
    line-height: 5.4vw;
  }

  .info div {
    display: block;
    width: 100%;
  }

  .info_size_variant {
    font-size: 20px;
  }

  .sci_info {
    border-bottom: 3px solid #004f9f;
  }

  .sci_info div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  .link_prodotto {
    display: table;
    width: 100%;
  }

  .link_prodotto div {
    display: block;
    text-align: center;
    width: 100%;
  }

  .exeption {
    border-right: 0;
  }

  .exeption2 {
    border-right: 3px solid #004f9f;
  }

  .info {
    border-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .padding_LR {
    margin-left: auto;
    margin-right: auto;
  }



  .padding_special {
    padding-top: 36px;
    padding-bottom: 36px;

  }

  .cont_text {
    width: 755px;
    margin: 0 auto;
  }

  .long_title {
    display: none;
  }

  .short_title {
    display: block;
  }

  .head-size {
    font-size: 40px;
  }

  /* .info{
    text-align: justify;
    line-height: normal;

  } */
  .hide {
    display: block;
  }

  .info:after {
    content: '';
    /* display: inline-block; */
    width: 100%;
  }

  .info div {
    display: inline-block;
    vertical-align: top;
    /* width: 49%; */
  }

  .info_con div {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

  .border {
    border-width: 0;
    display: none;
  }

  .border_right {
    border-width: 3px;
  }

  .nomi {
    background-color: white;
    height: auto;
    width: 100%;
    color: #004f9f;
    line-height: normal;
  }

  .italic {
    font-style: italic;
  }

  .arrow_right {
    position: relative;
    top: auto;
    padding-right: auto;
  }

  .text_center_name {
    text-align: center;
  }
}

@media screen and (min-width: 840px) {
  .cont_text {
    width: 826px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 990px) {
  #dropdown {
    display: table;
    width: 100%;
  }

  .none {
    display: block;
  }

  .none_apart {
    display: none;
  }

  .active_filter {
    background-color: white;
    color: #004f9f;
  }

  #dropdown a {
    display: table-cell;
    text-align: center;
    line-height: 70px;
  }

  .filter-size {
    font-size: 25px;
    line-height: 70px;
  }

  .padding_filter {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .cont-size {
    font-size: 40px;
    line-height: 55px;
    width: auto;
  }

  .cont_text {
    width: auto;
    margin: 0 0;
  }

  .padding_LR {
    padding-left: 92px;
    padding-right: 92px;
  }
  .padding_LR_n {
    margin-left: -92px;
    margin-right: -92px;
  }

  .padding_TB {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .padding_special {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .head-size {
    font-size: 4vw;
    height: 5vw;
    line-height: 5vw;
  }

  .long_title {
    display: block;
  }

  .short_title {
    display: none;
  }

  .content_filter {
    display: block;
    position: relative;
    box-shadow: 0;
    /* z-index: 1; */
  }

  .sci_info {
    border-bottom: 0;
  }

  .sci_info div {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    border-bottom: 3px solid #004f9f;
  }

  .exeption {
    border-right: 3px solid #004f9f;
  }

  .exeption2 {
    border-right: 0;
  }

  .link_prodotto {
    display: table;
    width: 100%;
  }

  .link_prodotto div {
    display: inline-block;
    text-align: center;
    width: 49%;
    border-bottom: 0;
  }

  .nomi_sci {
    background-color: white;
    height: auto;
    width: 100%;
    color: #004f9f;
    line-height: normal;
  }
}

@media screen and (min-width: 1200px) {
  .cont-size {
    font-size: 2.9vw;
    line-height: 4vw;
  }

  .prodotto-size {
    font-size: 30px;
  }

  .padding_LR {
    padding-left: 94px;
    padding-right: 94px;
  }

  .padding_LR_n {
    margin-left: -94px;
    margin-right: -94px;
  }

  .padding_TB {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .head-size {
    font-size: 3.66vw;
    /* padding-top: 10px; */
  }

  .long_title {
    display: block;
  }

  .short_title {
    display: none;
  }

  .temp {
    width: 300px;
    height: 600px;
    background-color: black;
  }
}





@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  #lang {
    display: none;
  }

  .landing_page{
    display: block;
  }


  .header {
    display: none;
  }

  .text_center {
    text-align: left;
  }

  .name {
    text-align: left;
  }

  /* .arrow{
    font-family: SuisseIntl-Light;
  } */
  .title {
    height: 18vw;
    line-height: 18vw;
  }

  .nostroke{
    -webkit-text-fill-color: #004f9f;
    -webkit-text-stroke-width: 0px;
  }

  .head-size {
    font-size: 12vw;
  }

  .botton {
    float: right;
    display: inline-block;
  }

  .menu_button {
    height: 8vw;
    /* z-index: 1200; */
  }

  .menu_button_2 {
    width: 8vw;
    vertical-align: sub;
  }

  .short_title {
    display: inline-block;
  }

  .image img {
    padding-top: 12px;
  }

}
